@{
    ViewData["Title"] = "Purchase Report";
    ViewData["PageTitle"] = "Purchase Report";
    ViewData["MainItem"] = "Charts";
    ViewData["SubItem"] = "Purchase Report";
}

<div class="container">
    <div class="page-inner">
        @await Html.PartialAsync("breadcurm")
        <div class="card">
            <div class="card-header">
                <h3>Purchase Report</h3>
            </div>

            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>