@{
    ViewData["Title"] = "Stock Flow";
    ViewData["PageTitle"] = "Stock Flow";
    ViewData["MainItem"] = "View Stock";
    ViewData["SubItem"] = "Stock Flow";
}

<div class="container">
    <div class="page-inner">
        @await Html.PartialAsync("breadcurm")
        <div class="card">
            <div class="card-header">
                <h3>Stock Flow</h3>
            </div>

            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>